<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div id="about">
    <h3>About the Fight Song Competition</h3>
    <table>
    <tr class="row">
         <td class="col-md-4">
            <img src="http://music.virginia.edu/sites/music.virginia.edu/files/styles/profile_photo_250/public/rachelbw.jpg?itok=xX-0RonU" alt="Rachel Trapp">
            </td>
          <td class="col-md-4">
            <img src="http://music.virginia.edu/sites/music.virginia.edu/files/styles/profile_photo_250/public/Gordon.jpg?itok=vseBuRSQ" alt="Bonnie Gordon">
            </td>
       </tr>
    <tr class="row">
        <td class="col-md-4">
            <a href="racheldevorahtrapp.com">Rachel Trapp</a>
        </td>
        <td class="col-md-4">
            <a href="http://music.virginia.edu/faculty/profile/bsg6v">Bonnie Gordon</a>
        </td>
        </tr>
</table>
<p>     A committee from the music department comprised of Professor Bonnie Gordon and student Campbell Shiflett, led by Rachel Trapp,
    set out to create a song competition for a new UVA fight song. With support from the Vice Provost for the Arts and the Virginia Glee Club, that competition is now a reality!</p><br>
<p>     Intended to be a positive culture-building exercise, students from different backgrounds are encourage to join together
to enact change creatively. The community of Hoos extends beyond the University or the city of Charlottesville, and
    a new song will be a productive step in creating social change in the community at-large.  A positive message rendered by student
    reflection will undoubtedly broadcast to the larger network of Hoos and the many eyes watching the University that students and faculty
    alike are thinking proactively about the culture they want to shape on Grounds, rather than uncritically inheriting what exists.</p>
</div>

{% endblock %}
